.footer {
  border-top: 1px solid lightgray;
  padding: 2rem;
  background-color: black;
  text-align: center;
  color: white;
  text-transform: capitalize;
}

.footer > p {
  padding: 0.5rem;
  font-size: 1.4rem;
  text-transform: capitalize;
}
