.searchPage__info {
  padding: 1.5rem;
}
.searchPage__info > p {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.searchPage__info > h2 {
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.searchPage__info > button {
  border-radius: 3rem;
  text-transform: inherit;
  margin: 0.5rem;
}
